.navbar {
  background-color: #5697ff;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
  color: white;
}

#about  {
  background-color: #5697ff;
  color: white;
  width: auto;
  padding-top: 60px;
  padding-bottom: 200px;
}

#container {
  padding-top: 100px;
}

#contact {
  padding-top: 100px
}

.starter-template {
  padding-top: 100px;
}

.goals {
  padding-top: 100px;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}


/*BILL COUNT SLIDER*/
.slide { 
  padding-top: 300px;
  padding-bottom: 200px;
}

#slider {
  color: white;
  width: 50%;
  margin: auto;
}

#bills {
  padding-top: 50px;
}

#billCount {
  font-size: 40px;
}